.THIS .hide {display: none;}
.THIS .rp-ssdd-dropdown-content {
	max-height: 175px;
    overflow : auto;
    background-color: #ffffff;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    border: 1px solid rgb(197, 197, 197);
    position: absolute;
}
.THIS .text-grey{
    color: #333;
}
.THIS .rp-ss-form-control-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 26px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
}
.THIS .rp-ss-closeIcon{
    font-size: 20px;
    margin-top: 10px;
}

.THIS .relative {
    position: relative;
}
.THIS .rp-topic-select {
	border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    border: solid 1px #ccced0;
    line-height: 40px;
    text-overflow:ellipsis;
    padding-left: 6px;
    background-color: #ffffff;
}
.THIS .rp-select-topic-item{
        min-height: 35px;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 35px;
    letter-spacing: .5px;
    color: #000000;
    padding-left: 10px;
    word-wrap: break-word;
    cursor: pointer;
}
.THIS .rp-select-topic-item:nth-child(odd) {  
    background-color: #ffffff;    
    padding-left: 10px;
}
.THIS .rp-select-topic-item:nth-child(even) {  
    background-color: #eaeaea;   
    padding-left: 10px; 
}
.THIS .margin4{
    margin: 4px;
}
.THIS .inline-block{
    display:inline-block;

}
.THIS .defaultWidth250{
    width: 250px;
}
.THIS .width100{
    width:100%;
}
.THIS .rp-ssdd-dropdown-content.hide+span>i{
        transform: rotate(180deg);
}
.THIS .rp-dd-icon-padding{
    padding-right: 1.5rem !important;
}


/* Create a custom checkbox */
.THIS .rp-dd-checkmark {
    position: absolute;
    top: 9px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: solid 1px #ccced0;
}

/* On mouse-over, add a grey background color */
.THIS .rp-dd-dropdown-list-container:hover input ~ .rp-dd-checkmark {
  background-color: #fff;
  border: solid 1px #ccced0;
}

/* When the checkbox is checked, add a blue background */
.THIS .rp-dd-dropdown-list-container input:checked ~ .rp-dd-checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.THIS .rp-dd-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.THIS .rp-dd-dropdown-list-container input:checked ~ .rp-dd-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.THIS .rp-dd-dropdown-list-container .rp-dd-checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.THIS .rp-dd-dropdown-list-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.THIS .rp-dd-dropdown-list-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.THIS .rp-dd-arrow-toogle{
    color: #353c43;
    font-size:20px
}
.THIS .rp-dd-selectedLabel{
    font-family: HelveticaNeue;
  	font-size: 14px;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: 0.4px;
  	color: #0078ff;
    position: absolute;
    right: 30px;
    top: 0;
    height: 38px;
    line-height: 38px;
}
.THIS .dropbtn[disabled], .THIS .dropbtn[disabled]:hover{
     background-color: #e9ecef;
}
.THIS .artificialInput{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0 20px 0 10px;
    font-size: 1rem;
    color: #333333;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    border: solid 1px #ccced0;
    line-height: 40px;
    text-overflow: ellipsis;
    background: #F6F5F5;
    cursor: default;
}
.THIS .artificialInput>div{
    line-height: calc(2.25rem + 2px);
    height: calc(2.25rem + 2px);
}
.THIS .ss-dd-subtext{
    width: 17%;
    color: #6E6E6E;
}

.THIS .label-margin-bottom4{
    margin-bottom:4px;
}
.THIS .margin-l-r-10{
    margin-left: 10px;
    margin-right: 10px;
}