@font-face {
    font-family: 'Arial';
    src: url(../resource/arial); 
}

.THIS .myNavBar {
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0
        rgba(0, 0, 0, 0.08);
}

.THIS #dashboardIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background: url(../resource/RSTP_icons/icons/dashboard.png) no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding-left: 40px;
    position: absolute; 
}

.THIS #fundingIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background: url(../resource/RSTP_icons/icons/funding.png) no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding-left: 40px;
    position: absolute; 
}

.THIS #translationIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background: url(../resource/RSTP_icons/icons/business.png) no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding-left: 40px;
    position: absolute; 
}

.THIS #toolsIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background: url(../resource/RSTP_icons/icons/tools.png) no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding-left: 40px;
    position: absolute; 
}

.THIS #engagementIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background: url(../resource/RSTP_icons/icons/engagement.png) no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding-left: 40px;
    position: absolute; 
}

.THIS #collaborationIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background: url(../resource/RSTP_icons/icons/collaboration.png) no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding-left: 40px;
    position: absolute; 
}

.THIS #communicateIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background: url(../resource/RSTP_icons/icons/communicate.png) no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding-left: 40px;
    position: absolute; 
}

.THIS #impactIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background: url(../resource/RSTP_icons/icons/impact.png) no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding-left: 40px;
    position: absolute; 
}

.THIS #needHelpIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding-left: 30px;
    position: absolute;
    padding-top: 10px; 
}

.THIS li:nth-child(1){
    margin-bottom: 20px;
}
.THIS .nav-menuitem:hover #dashboardIcon, .THIS a:focus #dashboardIcon, .THIS .tabActive #dashboardIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background: url(../resource/RSTP_icons/icons/dashboard-active.png) no-repeat;
    background-size: 40px 40px;
    width: 40px; 
    height: 40px; 
    padding-left: 40px;
     padding-right: 20%;
}

.THIS .nav-menuitem:hover #fundingIcon, .THIS a:focus #fundingIcon, .THIS .tabActive #fundingIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../resource/RSTP_icons/icons/funding-active.png) no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px; 
    padding-left: 40px;
}

.THIS .nav-menuitem:hover #translationIcon, .THIS a:focus #translationIcon, .THIS .tabActive #translationIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../resource/RSTP_icons/icons/business-active.png) no-repeat;
    background-size: 40px 40px;
    width: 40px; 
    height: 40px; 
    padding-left: 40px;
}

.THIS .nav-menuitem:hover #toolsIcon, .THIS a:focus #toolsIcon, .THIS .tabActive #toolsIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../resource/RSTP_icons/icons/tools-active.png) no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding-left: 40px;
}

.THIS .nav-menuitem:hover #engagementIcon, .THIS a:focus #engagementIcon, .THIS .tabActive #engagementIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../resource/RSTP_icons/icons/engagement-active.png) no-repeat;
    background-size: 40px 40px;
    width: 40px; 
    height: 40px; 
    padding-left: 40px;
}

.THIS .nav-menuitem:hover #communicateIcon, .THIS a:focus #communicateIcon, .THIS .tabActive #communicateIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../resource/RSTP_icons/icons/communicate-active.png) no-repeat;
    background-size: 40px 40px;
    width: 40px; 
    height: 40px; 
    padding-left: 40px;
}

.THIS .nav-menuitem:hover #impactIcon, .THIS a:focus #impactIcon, .THIS .tabActive #impactIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../resource/RSTP_icons/icons/impact-active.png) no-repeat;
    background-size: 40px 40px;
    width: 40px; 
    height: 40px; 
    padding-left: 40px;
}

.THIS .nav-menuitem:hover #needHelpIcon, .THIS a:focus #needHelpIcon, .THIS .tabActive #needHelpIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-size: 40px 40px;
    width: 40px; 
    height: 40px; 
    padding-left: 30px;
    position: absolute;
    padding-top: 10px;
}

.THIS .narIconLabel {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: 40px; 
    font-family : Arial;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-left:60px;
}

.THIS .topNavIcon {
    display:block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: #4a4a4a;
    height: 58px;
}

.THIS .MenuNavBar{
    height: 73px;
}

.THIS .nav-menuitem {
    min-height: 70px;
    padding-top: 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-right: 4%;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    /* IE10+ specific styles go here */  
    .THIS #fundingIconLabel {
        width: 150px;
    }
    .THIS #engagementIconLabel {
        width: 110px;
    }
}

.THIS .nav-menuitem:hover .narIconLabel, .THIS a:focus .narIconLabel {
    color: #000054;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.12);
    text-shadow: 0 2px 1px var(--black-two-12);
        }
        
        .THIS a:hover {
            text-decoration: none;
        }
        
        .THIS .tabActive {	
            border-bottom: solid 3px #d0021b;
        }
        
        .THIS .tabActive .narIconLabel {
            color: #000054;
            text-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.12);
            text-shadow: 0 1px 0.5px var(- -black-two-12);
        }
        
        @media only screen and (max-width: 1024px) {
            .THIS .myNavBar {
                display: none;
                height: 0;
            }
        }