.THIS .helpimg:hover + div.rp-add-attachment-popup, .THIS .helpimg:hover+div.rp-add-attachment-popup + span.arrow-down{
          display: block
      }
.THIS .helpimg i:hover{    
    color: #000054;
}
.THIS .rp-text-hightlight:hover > div.rp-add-attachment-popup, .THIS .rp-text-hightlight:hover>div.rp-add-attachment-popup + span.arrow-down{
          display: block
}
.THIS .rp-text-hightlight:hover > div.rp-add-attachment-popup, .THIS .rp-text-hightlight:hover>div.rp-add-attachment-popup + span.arrow-down{
          display: block
}
.THIS .truncate-fileName{
    width:95%;
    height: 35px;
    line-height: 35px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.THIS .closefileimg{
    display: inline;
    position: absolute;
    right: 8px;
    top:8px;
    display: block;
    background: #333;
    color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
}
.THIS .closefileimg:hover{
    cursor:pointer;
}
.THIS .error-message {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.THIS #Progress_Status { 
  width: 100%; 
  height: 37px;
  background-color: #f5f5f5;
  border-radius: 12px;
} 
.THIS #Progress_Status:hover{ 
  width: 100%; 
  height: 37px;
  background: rgba(0,0,0,0.2);  
  border-radius: 12px;
}  
.THIS .myprogressBar { 
  line-height: 32px; 
  color: black;
  display:inline-flex;
  height: 36px;
  text-align: left;
  padding:0;
}
.THIS .rp-add-attachment-popup{
        border-radius: 2px;
        box-shadow: 1px 12px 12px 0 rgba(196, 196, 196, 0.5);
        border: solid 1px #eeeeee;
        background-color: #fff;
        position: absolute;
        top: -94px;
        left: 292px;
        padding: 10px;
    	color:#333333;
}
.THIS .arrow-down {
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
        position: absolute;
        top: -8px;
        left: 300px;
      }
.THIS .helpimg:hover + div.rp-add-attachment-popup, .THIS .helpimg:hover+div.rp-add-attachment-popup + span.arrow-down{
          display: block
      }
.THIS .helpimg i:hover{    
    color: #000054;
}
.THIS .selectedList{
    list-style: none;
    display: inline-block;
    border: 1px solid #ececee;
    height: auto;
    margin-right: 10px;
    background-color: #ececee;
    margin: 10px 10px 10px 0;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    width:100%;
    border-radius: 10px;
}

.THIS .selectedList label{
    padding: 0 10px 0;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

.THIS .closefileimg:hover+span .myprogressBar{
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}
.THIS .margin-left-5px{
    margin-left: 5px;
}
.THIS .text-grey{
    color: #333;
}