.THIS .publications_title {
    padding: 20px 20px 20px 0px;
    position: relative;
}

.THIS .publications_text {
    font-family: Museo;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
}

.THIS .publications_title:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 50px;
    height: 6px;
    background-color: #f5a623;
}

.THIS .publications_container {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 25px;
}

.THIS .totalPublications {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #000000;
  padding-right: 5px;
}

.THIS .totalcontainer{
    margin-top:6px;
}

.THIS table.dataTable.no-footer {
    border: none;
    box-shadow: none;
    font-size: 14px;
    font-family: HelveticaNeue;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #4a4a4a;
}

.THIS table.dataTable thead th,
.THIS table.dataTable thead td,
.THIS .column {
    text-align: left;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #4a4a4a;
    border-bottom: 1px solid rgba(203, 203, 203, 0.43);
    padding-top: 15px;
    padding-bottom: 15px;
}

.THIS table.dataTable tbody td {
    border-bottom: 1px solid rgba(203, 203, 203, 0.43);
}

.THIS .dt-more-container {
    text-align: center;
    margin: 2em 0;
}

.THIS table.dataTable tbody tr:nth-child(odd) {  
    background-color: #ffffff;    
}
.THIS table.dataTable tbody tr:nth-child(even) {  
    background-color: #eaeaea;   
}

.THIS .dataTables_filter {
    display: none;
}

.THIS table.dataTable.display tbody tr.odd>.sorting_1,
.THIS table.dataTable.display tbody tr.odd,
.THIS table.dataTable.display tbody tr.even,
.THIS table.dataTable.display tbody tr.even>.sorting_1 {
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 8px;
}

.THIS table.dataTable thead .sorting {
    background: url(../resource/sort_both) no-repeat;
     background-position: center left;
    filter: brightness(57%);
    border: 0px;
}

.THIS table.dataTable thead .sorting_desc {
    background: url(../resource/sort_desc) no-repeat;
    background-position: center left;
    border: 0px;
}

.THIS table.dataTable thead .sorting_asc {
    background: url(../resource/sort_asc) no-repeat;
    background-position: center left;
    border: 0px;
}
.THIS table.dataTable thead .sorting_disabled {
    border:none;
}
.THIS .truncate {
    max-width: 95%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
}
.THIS .pjtTitleColor {
    color: #0056b3;
    text-decoration : none;
}
.THIS table.dataTable tbody td:nth-child(1) {
    width: 10%;
}
.THIS table.dataTable tbody td:nth-child(2) {
    width: 8%;
}

.THIS table.dataTable tbody td:nth-child(4), .THIS table.dataTable tbody td:nth-child(5) {
    width: 22%;
    position: relative;
}

.THIS table.dataTable tbody td:nth-child(3) {
    width: 13%;
}

.THIS table.dataTable tbody td:nth-child(6) {
    width: 13%;
    position: relative;
}
.THIS .type{
   font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #000000;
  margin:5px;
  padding-top: 16px;
}

.THIS .topic-select {
	border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    border: solid 1px #ccced0;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-overflow:ellipsis;
    margin-top:10px;
    padding-left: 6px;
    background-color: #ffffff;
}
.THIS .input-group-btn {
	position: relative;
	right: 20px;
	top: 13px;
	font-size: 20px;
}
.THIS .select-topic-item {
	min-height: 35px;
	font-family: Lato;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 35px;
  	letter-spacing: 0.5px;
  	color: #000000;
  	padding-left: 10px;
  	word-wrap: break-word;
  	cursor: pointer;
}
.THIS .dropdown-content {
	/* position: relative;
	top: -23px; */
	width: 50%;
	max-height: 250px;
    overflow : auto;
    background-color: #ffffff;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    border: 1px solid rgb(197, 197, 197);
    margin-left: 142px;
    position: relative;
}
.THIS .membersli{
    color:black;
    text-decoration : none;
}
.THIS #statusDropdown{
    margin-left: 59px !important;
    width: 59%;
}
.THIS .duedatefilter{
    width:59%;
}
.THIS .select-topic-item:nth-child(odd) {  
    background-color: #ffffff;    
    padding-left: 10px;
}
.THIS .select-topic-item:nth-child(even) {  
    background-color: #eaeaea;   
    padding-left: 10px; 
}
.THIS .milestone-list-legend {
	background-color: rgba(255,255,255,0.54);
	height: 60px;
	margin: 0;
    display: inline-flex;
}
.THIS a#back-to-top i {
	position: absolute;
	right: 25px;
	bottom: 30px;
	font-size: 40px;
}