.THIS .myProjectImg{
    padding-right: 20px;
}
.THIS .myProject-section, .THIS .myCollabaration-section{
    position: relative;
    text-align: center;
    display: inline-block;
}
.THIS .myProject-heading{
    position: absolute;
    top: 132px;
    left: 144.5px;
    width: 178px;
    height: 19px;
    font-family: Museo;
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.73;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.THIS .collaborate-heading{
    position: absolute;
    top: 132px;
    left: 139px;
    width: 189px;
    height: 19px;
    font-family: Museo;
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.73;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.THIS .myProject-subheading{
    position: absolute;
    top: 172px;
    left: 110.5px;
    width: 246px;
    height: 38px;
    font-family: Museo;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.THIS .rmit-researcher-box{
    position: absolute;
    top: 294px;
    left: 137px;
    width: 195px;
    height: 19px;
    font-family: Museo;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.THIS .rmit-researcher-link{
    color: #fff;
    text-decoration: none;
}
.THIS .view-my-projects-btn{
    width: 191px;
    height: 40px;
    border-radius: 4px;
    border: solid 2px #ffffff;
    cursor:pointer;
    position: absolute;
    top:235px;
    left:139px;
    padding: 5px;
    color: white;
    font-family: Museo;
    font-weight: 500;
    font-size: 16px;
}
.THIS .view-Public-projects-btn{
    width: 217px;
    height: 40px;
    border-radius: 4px;
    border: solid 2px #ffffff;
    cursor:pointer;
    position: absolute;
    top:235px;
    left:125px;
    padding: 5px;
    color: white;
    font-family: Museo;
    font-weight: 500;
    font-size: 16px;
}
.THIS .view-Public-projects-btn-text, .THIS .view-my-projects-btn-text {
    width: 153px;
    height: 19px;
    font-family: Museo;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.THIS .margin-left-7px{
        margin-left: 7px;
}
  .THIS .bg1{
    background-image: url("/Researcherportal/resource/1552456826000/myProjectImg");
    max-height:400px;
    width:100%;
    background-repeat: no-repeat;
    height: 40rem;
    background-position: center;
    background-size: 100% 100%;
}
.THIS .bg2{
    background-image: url("/Researcherportal/resource/1552456826000/collaborateImg");
    max-height:400px;
    width:100%;
    background-repeat: no-repeat;
    height: 40rem;
    background-position: center;
    background-size: 100% 100%;
}
.THIS .myProject-text-center, .THIS .myCollaboration-text-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height:200px;
    max-height:200px;
}
.THIS .heading{
  font-family: Museo;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.73;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.THIS .subHeading{
    width: 240px;
  font-family: Museo;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.THIS .view-my-projects-btn-new{
    border-radius: 4px;
    border: solid 2px #ffffff;
    cursor:pointer;
    padding: 5px;
    color: white;
    font-family: Museo;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}
.THIS .view-Public-projects-btn-text-new, .THIS .view-my-projects-btn-text-new {
    font-family: Museo;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.THIS .rmit-researcher-box-new{
    height: 19px;
    font-family: Museo;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top:19px;
}
.THIS .margin-top-21{
        margin-top: 21px;
}
.THIS .margin-top-25{
        margin-top: 25px;
}
.THIS .padding-right-30{
        padding-right: 30px;
}

.THIS .view-Public-projects-btn-text-new:hover{
        text-decoration: underline;
}