.THIS .profile21cc{
    background-color: #f2f2f2;     
    width: 100%;
    display: inline-block;
    margin-top:14px;
}
.THIS .profile21cc-item {
    float: left;
    padding: 15px 20px 15px 0;
    
}
.THIS .profile21cc-link{
    font-family: Museo300;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #000054;
}
.THIS .prof21cc-active{
    color: #000000;
    font-weight: bold;
    border-bottom: 5px solid #000054;
    padding-bottom: 10px;
}

.THIS .panel-default > .panel-heading {
    position: relative;
}
.THIS .panel-heading .fa {
    position: absolute;
    right: 10px;
    top: 13px;
}
.THIS .profile21cc-myplan>h3,.THIS .profile21cc-myoutcomes>h3{
    font-family: Museo300;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000054;
    border-bottom: solid 2px rgba(0, 0, 83, 0.15);
    cursor:pointer;
    padding-left: 10px;
    padding-bottom: 10px;
}
.THIS .profile21cc-productcart{
    height: 290px;
    background-color: #ffffff;
    padding: 0 35px;
    margin-bottom: 40px;
}
.THIS .profile21cc-courseimg{   
    text-align: center;
}
.THIS .profile21cc-courseimg img{
     height: 160.5px;
}
.THIS .profile21cc-productcart .academic-details {
    background-color: #f0f0f0;
    border-bottom: 5px solid #fe8635;
    height: 125px;
    padding: 20px 20px;
    position:relative;
}
.THIS .profile21cc-productcart .academic-details h1 {
    font-family: Museo300;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #00004c;
    margin: 0;
}
.THIS .profile21cc-productcart .academic-status,
.THIS .profile21cc-productcart .academic-date {
    font-family: Museo300;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin: 10px 0;
    border-bottom:none;    
}
.THIS .myoutcome-completed{
     border-bottom: 5px solid #7ed321 !important;
}
.THIS .mydetails-list tr{
    border-bottom:5px solid #fe8635;
}
.THIS .mydetails-list tr td{
    font-family: Museo;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding:15px;
}
.THIS .mydetails-list tr th{
    width:20%;
}
.THIS .mydetails-list tr td{
    width:80%;
}
.THIS .serviceandsupport-navigate{
    color: #000054;
    font-family: Museo;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-decoration:underline !important;
    padding-top: 20px;
    position: absolute;
}
.THIS .lhc-title-all{
    font-family: Museo;
    font-size: 64px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: 0.9px;
    text-align: left;
    color: #000053;
    position: relative;
    padding-top: 14px;
    
}

.THIS .lhc-title-all:before {
    position: absolute;
    content: '';
    top: 0;
    left: 5px;
    width: 73px;
    height: 9px;
    background-color: #50d2ff;
}
.THIS .my-study-ecb{
    position: absolute;
    height: 95px;
    background: #50D2FF;
    top:-25px;
    width: 80px;
    right: 0;
}
.THIS .my-study-ecb:before{
    position: absolute;
    height: 90px;
    background: #50D2FF;
    content: '';
    width: 184px;
    top: 95px;
    right: 0;
}
.THIS .redirectsection{
    margin-bottom:60px !important;
}
.cLHC_MyDetails .mydetails-list tr td,.THIS .mydetails-list tr th{
       font-family: Museo;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #000054;
    padding:20px 15px;
    }
.THIS .contactdetails{
    font-family: Museo;
    font-size: 36px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    color: #000054;
    margin: 25px 10px;
}
.THIS .redirectsection{
        margin-left:-20px;
    }
.THIS .mydetails-list tr{
        border-bottom:none;
    }
@media (max-width: 991px){
    .THIS .lhc-title-all{       
        font-size: 35px; 
       margin: 25px 0;
    }    
    .cLHC_MyDetails .mydetails-list tr td{
        display:block;        
    }
    .cLHC_MyDetails .mydetails-list tr td:first-child{        
        padding-bottom: 0;
        font-weight: 700;
        font-size: 20px;
        width: 100%;
    }
    .cLHC_MyDetails .mydetails-list tr td:last-child{         
        padding-top:2px;
        width: 100%;
    }
    .THIS .serviceandsupport-navigate{
        padding:0 15px;
    }
     .THIS .lhc-title-all:before{
        width: 40px;
        height: 3px;
    }
    .THIS .contactdetails{
        font-size:25px;
    }
}