@font-face {
    font-family: 'Museo';
    src: url(../resource/museo);
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url(/sfsites/c/resource/Asset/Asset/css/fonts/HelveticaNeue.woff) format("woff"),
    url(/sfsites/c/resource/Asset/Asset/css/fonts/HelveticaNeue.ttf) format("truetype");
}

@font-face {
    font-family: 'Arial';
    src: url(../resource/arial);
}

@import url('https://fonts.googleapis.com/css?family=Lato');
.THIS .text-grey{
    color: #333;
}
.THIS ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

.THIS ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.THIS .page-header {
    padding: 20px 5px 0px 0px;
}

.THIS .pipe{
    content: '';
    position: relative;
    top: -10px;
    left: 0;
    width: 50px;
    height: 6px;
    background-color: #f5a623;
}

.THIS .research-support-form {
    width: 95%;
}

.THIS .research-support-form-main {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    width: 97%;
}

.THIS .page-title {
    font-size: 21px;
    font-weight: 500;
    color: #000054;
}

.THIS .label-text {
    font-family: Museo;
    font-style: normal;
    font-stretch: normal;
}

.THIS .welcome-text {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
}

.THIS .title-text {
    font-family: HelveticaNeue;
    font-style: normal;
    font-stretch: normal;
}

.THIS .content-label {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.5px;
    color: #000000;
    word-wrap: break-word;
}

.THIS .font-normal {
    font-weight: normal;
}

.THIS .font-bold {
    font-weight: bold;
}

.THIS .topic-select {
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    border: solid 1px #ccced0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-overflow:ellipsis
}

.THIS .dropdown-content {
    /* position: relative;
    top: -23px; */
    width: 100%;
    max-height: 250px;
    overflow : auto;
    background-color: #ffffff;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    border: 1px solid rgb(197, 197, 197);
}

.THIS .select-topic-item {
    min-height: 35px;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 35px;
    letter-spacing: 0.5px;
    color: #000000;
    padding-left: 10px;
    word-wrap: break-word;
    cursor: pointer;
}

.THIS .select-topic-item:nth-child(odd) {
    background-color: #ffffff;
}
.THIS .select-topic-item:nth-child(even) {
    background-color: #eaeaea;
}

.THIS .input-group-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    pointer-events: none;
}

.THIS .form-group.required .content-label:after {
    content:" *";
    color:red;
}

.THIS .was-validated .form-control:valid {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    border: solid 1px #ccced0;
}

.THIS .was-validated .form-control:invalid {
    border: solid 3px #e52b21;
}

.THIS .btn-submit {
    width: 120px;
    height: 32px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #000054;
    font-family: Museo;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
}
.THIS .btn-submit:hover, .THIS .btn-submit:focus, .THIS .btn-confirm-page:hover, .THIS .btn-confirm-page:focus {
    background-color: #d0021b;
    border : 1px solid #d0021b;
}
.THIS .btn-confirm-page {
    width: 210px;
    height: 32px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #000054;
    font-family: Museo;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
}

.THIS .help-text {
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 25px;
    letter-spacing: 0.5px;
}
.THIS .membersli{
    color:black;
    text-decoration : none;
}
.THIS .width100{
    width:100%;
}
.THIS .rp-header-line {
    border: 3px solid #fc9147;
}
.THIS .content-box{
    box-shadow: 1px 2px 6px 0 rgba(196, 196, 196, 0.5);
    background-color: #fff;
}
.THIS .rp-rs-sub-heading{
    font-size:20px;
    line-height:20px;
    height: 32px;
}
.THIS .radio-custom-container{
    display: block;
    position: relative;
    padding-left: 26px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default radio button */
.THIS .radio-custom-container .form-check-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.THIS .radio-custom-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #e1e1e1;
    padding: 3px;
}

/* When the radio button is checked, add a blue background */
.THIS .radio-custom-container .form-check-input:checked ~ .radio-custom-checkmark {
    background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.THIS .radio-custom-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.THIS .radio-custom-container .radio-custom-checkmark:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000054;
}

/* Show the indicator (dot/circle) when checked */
.THIS .radio-custom-container .form-check-input:checked ~ .radio-custom-checkmark:after {
    display: block;
}
.THIS ::placeholder {
    font-size: 16px;
}
.THIS .form-control:focus{
    box-shadow: none;
}
.THIS .label-margin4{
    margin:4px;
}
.THIS .label-margin-left4{
    margin-left:4px;
}
.THIS .label-margin-bottom4{
    margin-bottom:4px;
}
.THIS .rp-rs-infoIcon{
    font-size: 30px;
    color: #0091FF;
}
.THIS .rp-rs-infoText{
    color: #333333;
    font-family: Helvetica;
    font-size: 14px;
    display: flex;
}
.THIS .verticalCenter{
    display: flex;
    align-self: center;
    padding-top: 10px;
}
.THIS .arrowIcon {
    color: #353c43;
    font-size: 20px;
}
.THIS .max600{
    max-width: 600px;
}
.THIS .margin-right10{
    margin-right: 10px;
}

.THIS .was-validated .form-control:valid, .THIS .form-control.is-valid, .THIS .was-validated .custom-select:valid, .THIS .custom-select.is-valid{
    border-color:none!important;
}
.THIS .error-message {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom:0px;
}
.THIS .font20{
    font-size:20px
}
.THIS .tickIcon{
    color: #559C0A;
    font-size: 34px;
}
.THIS .maxHeight26{
    height: 26px;
}
.THIS .submitLoading{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999;
    height: 100%;
}
.THIS .submittingText{
    position: fixed;
    top: 55%;
    left: 47.7%;
}
.THIS .form-control:disabled, .THIS .form-control[readonly] {
    opacity: 1;
    background: #F6F5F5;
    cursor: default;
}
 .THIS .modalErrorBox{
    width:100%;                
    padding: 10px 10px;
    border: 1px solid #ebeced;
    background: rgba(230,0,40,0.1);
    font-size: 14px;
    margin: 15px 0px;                    
}



 .THIS .list-group-item {
  user-select: none;
  padding: 0.50rem 1.25rem;
}


 .THIS .list-group input[type="checkbox"] +  .list-group-item {
  cursor: pointer;
}
 .THIS .list-group input[type="checkbox"]:checked + .list-group-item:before {
  color: inherit;
}




.THIS .list-wrapper{
    border: 1px solid #cdcdcd;
    padding: .5rem 1.25rem;
}
.THIS .styled-checkbox {
  position: absolute;
  opacity: 0;
  margin: 0;
  width: 100%;
  display:none;  
}
.THIS .styled-checkbox + label {
  position: relative;
  cursor: pointer;
}
.THIS .styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
    border: 1px solid #e1e1e1;
     margin-top: 2px;
}
.THIS .styled-checkbox:hover + label:before {
  background: #fff;
    border:1px solid #e1e1e1;
}

.THIS .styled-checkbox:checked + label:before {
  background: #fff;
    border:1px solid #e1e1e1;
}
.THIS .styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.THIS .styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.THIS .styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 1.55rem;
  top: 18px;
  background: #000054;
  width: 2px;
  height: 2px;
   
  box-shadow: 2px 0 0 #000054, 4px 0 0 #000054, 4px -2px 0 #000054, 4px -4px 0 #000054, 4px -6px 0 #000054, 4px -8px 0 #000054;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.THIS .width60{
    width:60%
}
.THIS .width20{
    width:20%
}
.THIS .width90{
    width:90%
}
.THIS .width10{
    width:10%
}
.THIS .width50{
    width:50%
}
.THIS .width25{
    width:25%
}
.THIS .width30{
    width:30%
}
.THIS .list-group-scroll{
        max-height: 206px;
    overflow: auto;
    box-shadow: 1px 1px 5px #e1e1e1;
}

.THIS .list-group-item label:nth-child(even){
    background-color: rgba(0,0,0,0.05);
}
.THIS list-group-item label:nth-child(odd) { background: #fff; }
.THIS .wrapper-inside-accordion{
    display: flex;
    margin-left: 1rem;
    padding-top: 25px;
}
.THIS .hide{
    display:none;
}
.THIS .selectedList {
    border: 1px solid #F6F5F5;
    border-radius: 5px;
    background-color: #F6F5F5;
    display: flex;
    margin-top: 1rem;
    height: 40px;
    line-height: 40px;
}
.THIS .rp-mt-10{
    margin-top:10px;
}
.THIS .rs-form-control-icon {
    width: 26px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
}