.THIS .page-header {
	padding: 20px 5px 0px 0px;
    position : relative;
}
.THIS .page-header:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 50px;
    height: 6px;
    background-color: #f5a623; 
}
.THIS .label-text {
    padding-right: 0;
	font-family: Museo;
  	font-size: 21px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #000054;
}

.THIS .ProjectDetailDisplay {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	max-width: none;
}

.THIS .card-header {
	background-color: #ffffff;
	border-bottom: none;
}

.THIS .project-title {
	/* margin-top: 10px; */
	font-size: 16px;
  	font-weight: bold;
  	overflow-wrap: break-word;
  	padding: 20px;
  	text-align: justify;
}
.THIS .summary-content {
	overflow-wrap: break-word;  	 
    font-family: Arial;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #4a4a4a;
  	text-align: justify;
    border:none;
}
.THIS .FoRCode {
	border-radius: 4px;
  	background-color: #ececee;
  	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  	padding: 10px 15px;
  	margin-bottom: 10px;
  	margin-right: 10px;  	
  	font-family: Lato;
  	font-size: 14px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.14;
  	letter-spacing: 0.5px;
  	color: #353c43;
}
.THIS .pjtsummarypara{
    border: none;  
    height: 200px;    
    background: white;  
    cursor: default;
}
.THIS .secondary-title {
	font-family: HelveticaNeue;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.5;
  	letter-spacing: 0.5px;
  	color: #000000;
    padding-top: 11px;
    padding-left:5px;
    overflow-wrap: break-word;
}
.THIS .checkboxli:nth-child(odd) {  
    background-color: #ffffff;   
}
.THIS .checkboxli:nth-child(even) {  
    background-color: #ececee;
}
.THIS .checkboxli:last-child{
    margin-bottom: 30px;
}
.THIS .checkboxli{
    display: inline-flex;
}
.THIS .fontbold{
    font-weight: bold;
}
.THIS .openlink{
    color:black;
    text-decoration:underline;
}
.THIS .openlink i{
    padding-left: 7px;
}