@font-face {
	font-family: 'Museo';
	src: url(../resource/museo);
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url(../resource/Asset/Asset/css/fonts/HelveticaNeue.woff) format("woff"), 
		 url(../resource/Asset/Asset/css/fonts/HelveticaNeue.ttf) format("truetype");
} 

@font-face {
	font-family: 'Arial';
	src: url(../resource/arial);
}

@import url('https://fonts.googleapis.com/css?family=Lato');

.THIS .page-header {
	padding: 20px 5px 0px 0px;
}
.THIS .display-none{
    display:none;
}

.THIS .pipe{
    content: '';
    position: relative;
    top: -10px;
    left: 0;
    width: 50px;
    height: 6px;
    background-color: #f5a623;	
}

.THIS .my-research-project-list {
	background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.THIS .label-text {
    padding-right: 0;
	font-family: Museo;
  	font-size: 21px;
  	font-weight: 500;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #000054;
}

.THIS .btn-create-project {
	width: 128px;
  	height: 32px;
  	margin-right: 5%;
  	border-radius: 4px;
  	background-color: #000054;
  	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.THIS .btn-create-project:focus , .THIS .btn-create-project:hover {
 	background-color: #d0021b; 
    border : 1px solid #d0021b;
}

.THIS table#myProjectList .table-title-column {
	position: relative;
	width: 30%;
	/*padding-left: 0;*/
}
.THIS table.dataTable thead th, .THIS table.dataTable tbody td {
	font-family: HelveticaNeue;
  	font-size: 14px;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: 0.4px;
  	color: #4a4a4a;
}

.THIS table.dataTable thead th {
	font-weight: bold;
	border:none;
	border-bottom: solid 1px rgba(151, 151, 151, 0.17);
	padding-top: 20px;
	padding-bottom: 20px;
}

.THIS table#myProjectList tbody td {
	font-weight: normal;
	border: none;
	border-bottom: solid 1px rgba(151, 151, 151, 0.17);
	padding: 10px 18px;
	height: 30px;
	vertical-align: middle;
	
}

.THIS table.dataTable thead .sorting {
    background: url(../resource/sort_both) no-repeat;
    background-position: center left;
    filter: brightness(57%);
    border: 0px;
}
.THIS table.dataTable thead .sorting_desc {
    background: url(../resource/sort_desc) no-repeat;
    background-position: center left;
}
.THIS table.dataTable thead .sorting_asc {
    background: url(../resource/sort_asc) no-repeat;
    background-position: center left;
}

.THIS .view-all-projects {
	width: 98%;
}

.THIS .btn-label-text{
	font-family: Museo;
  	font-size: 12px;
  	font-weight: 300;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.33;
  	letter-spacing: 0.4px;
  	text-align: center;
  	color: #ffffff;
}

.THIS .title-text {
	font-family: HelveticaNeue;
  	font-size: 14px;
  	font-weight: normal;
 	font-style: normal;
 	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
}

.THIS .project-title {
	color: #4a90e2;
	text-decoration: none;
}

.THIS .truncate {
	max-width: 95%;
	position: absolute;
	top: 30%;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

.THIS .dt-more-container{
    text-align:center;
    margin:2em 0;
    background: #ffffff;
}

.THIS .rp-project-badge {
	background: #7db81a;
	color: #ffffff;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 13px;
    height: 18px;
    padding-top: 2px;
}

.THIS .rm-project-badge {
	padding-left: 6px;
    padding-right: 6px;
    vertical-align: top;
    height: 18px;
    background: #0078ff;
    padding-top:4px;
}
.THIS .justify-content-center .rm-project-badge{
    padding-top: 2px;
}

.THIS .project-list-legend {
	background-color: rgba(255,255,255,0.54);
	height: 60px;
	margin: 0;
}

.THIS .project-list-filter {
	height: 60px;
}

.THIS .project-list-legend-text {
	font-family: Arial;
  	font-size: 12px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
}

.THIS .btn-search {
	width: 65px;
  	height: 32px;
  	border-radius: 4px;
  	background-color: #000054;
  	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  	font-family: Museo;
  	font-size: 12px;
  	font-weight: 300;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.33;
  	letter-spacing: 0.4px;
  	text-align: center;
  	color: #ffffff;
}

.THIS .search-box-text {
	font-family: Lato;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.71;
  	letter-spacing: 0.4px;
  	color: #9b9b9b;
}

.THIS a#back-to-top i {
	position: absolute;
	right: 40px;
	bottom: 30px;
	font-size: 40px;
}
.THIS .page-title{
    font-weight: bold;
}
.THIS .type{
   font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #000000;
  line-height: 58px;
  padding-right: 5px;
}

.THIS .topic-select {
	border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    border: solid 1px #ccced0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-overflow:ellipsis;
    margin-top:10px;
    padding-left: 6px;
}
.THIS .input-group-btn {
	position: relative;
    right: 27px;
    top: -9px;
    font-size: 20px;  
}
.THIS .select-topic-item {
	min-height: 35px;
	font-family: Lato;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 35px;
  	letter-spacing: 0.5px;
  	color: #000000;
  	padding-left: 10px;
  	word-wrap: break-word;
  	cursor: pointer;
}
.THIS .dropdown-content {
	/* position: relative;
	top: -23px; */
	width: 69%;
	max-height: 250px;
    overflow : auto;
    background-color: #ffffff;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    border: 1px solid rgb(197, 197, 197);
    margin-left: 65px;
    position: relative;
}
.THIS .select-topic-item:nth-child(odd) {  
    background-color: #ffffff;    
    padding-left: 10px;
}
.THIS .select-topic-item:nth-child(even) {  
    background-color: #eaeaea;   
    padding-left: 10px; 
}
.THIS .slds-select_container:before, .THIS .slds-select_container:after{
    display:none;
}
.THIS .selectedLabel{
    font-family: HelveticaNeue;
  	font-size: 14px;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: 0.4px;
    position: absolute;
    right: 5px;
    top: 20px;
}
.THIS .listCount{
    position: relative;
    width:70%;
}
.THIS .pjtaccess_text {
    display: none;
    color: #ffffff;
    top: -74px;
    left: -10px;
}

.THIS .pjtacceess:hover .pjtaccess_text , .THIS .pjtacceess a:focus + .pjtaccess_text{
    display: block;
}

.THIS .pjtaccess_text::after {
    content: "";
    position: absolute;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    top: 56px;
    left: 7px;
    z-index: 99;
    transform: rotate(180deg);
}

.THIS .dropdown-item, .THIS .uiInput--select .select:not([multiple]){
    white-space : normal;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

.THIS .dropdown-menu{
    min-width: 20rem;
    max-width : 20px;
}

.THIS .pjtAccess_padding{
    padding-top: 10px;
}
.THIS .helpimg{
    color: #353c43;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
}
.THIS table.dataTable tbody td:nth-child(2) {
   position: relative;
	width: 35%;
}
.THIS table.dataTable tbody td:nth-child(3) {
	width: 20%;
}

/* Create a custom checkbox */
.THIS .checkmark {
    position: absolute;
    top: 9px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: solid 1px #ccced0;
}

/* On mouse-over, add a grey background color */
.THIS .container:hover input ~ .checkmark {
  background-color: #fff;
  border: solid 1px #ccced0;
}

/* When the checkbox is checked, add a blue background */
.THIS .container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.THIS .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.THIS .container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.THIS .container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.THIS .container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.THIS .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.THIS .filterby{
    margin-left:90px;
    position:relative;
}
.THIS .display-none{
	display:none;
}