.THIS .profile21cc{
    background-color: #f2f2f2;     
    width: 100%;
    display: inline-block;
    margin-top:14px;
}
.THIS .profile21cc-item {
    float: left;
    padding: 15px 20px 15px 0;
    
}
.THIS .profile21cc-link{
    font-family: Museo300;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #000054;
}
.THIS .prof21cc-active{
    color: #000000;
    font-weight: bold;
    border-bottom: 5px solid #000054;
    padding-bottom: 10px;
}

.THIS .panel-default > .panel-heading {
    position: relative;
}
.THIS .panel-heading .fa {
    position: absolute;
    right: 10px;
    top: 13px;
}
.THIS .profile21cc-myplan>h3,.THIS .profile21cc-myoutcomes>h3{
    font-family: Museo300;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000054;
    border-bottom: solid 2px rgba(0, 0, 83, 0.15);
    cursor:pointer;
    padding-left: 10px;
    padding-bottom: 10px;
}
.THIS .profile21cc-productcart{
    height: 290px;
    background-color: #ffffff;
    padding: 0 35px;
    margin-bottom: 40px;
}
.THIS .profile21cc-courseimg{   
    text-align: center;
}
.THIS .profile21cc-courseimg img{
    height: 160.5px;
}
.THIS .profile21cc-productcart .academic-details {
    background-color: #f0f0f0;
    border-bottom: 5px solid #fe8635;
    height: 125px;
    padding: 20px 20px;
    position:relative;
}
.THIS .profile21cc-productcart .academic-details h1 {
    font-family: Museo300;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #00004c;
    margin: 0;
}
.THIS .profile21cc-productcart .academic-status,
.THIS .profile21cc-productcart .academic-date {
    font-family: Museo300;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin: 10px 0;
    border-bottom:none;    
}
.THIS .myoutcome-completed{
    border-bottom: 5px solid #7ed321 !important;
}
.THIS .purchasehistory tbody tr {
    border-bottom: 5px solid #fe8635;
}
.THIS .purchasehistory th {
    padding-right: 60px;
    padding-bottom: 20px;
    font-family: Museo;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.THIS .purchasehistory tbody tr td {
    width: auto;
    padding: 15px 0 15px 0;
    font-family: Museo;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.THIS .purchasehistory-tr label{
    display:block;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .THIS .purchasehistory tbody tr td {
        padding-bottom: 25px;  
        float:left;
    } 
    .cLHC_PurchaseHistory .purchasehistory-tr label{
        padding:0;
    }
}
.THIS .lhc-title-all{
    font-family: Museo;
    font-size: 64px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: 0.9px;
    text-align: left;
    color: #000053;
    position: relative;
    padding-top: 14px;
    
}

.THIS .lhc-title-all:before {
    position: absolute;
    content: '';
    top: 0;
    left: 5px;
    width: 73px;
    height: 9px;
    background-color: #50d2ff;
}
.THIS .my-study-ecb{
    position: absolute;
    height: 95px;
    background: #50D2FF;
    top:-25px;
    width: 80px;
    right: 0;
}
.THIS .my-study-ecb:before{
    position: absolute;
    height: 90px;
    background: #50D2FF;
    content: '';
    width: 184px;
    top: 95px;
    right: 0;
}
.THIS .redirectsection{
    margin-left:-20px;
}
.THIS .purchasehistory tbody tr td a{
    color: #000054;
    border-bottom: 1px solid #000054;
}
.THIS .purchasehistory tbody tr td a:hover,.THIS .purchasehistory tbody tr td a:focus,.THIS .purchasehistory tbody tr td a:visited{
    color: #00004c;
    border-bottom: 1px solid #00004c;
}
@media (max-width: 991px){
    .THIS .lhc-title-all{
        font-size: 35px; 
        margin: 25px 0;
    }    
    .cLHC_PurchaseHistory .purchasehistory tbody tr td{
        width:100%;
        padding: 15px 0;
        padding-left:10px;
    }    
    .cLHC_PurchaseHistory .purchasehistory-tr label{
        font-size: 25px;
        font-weight: 500;
    }
    .THIS .purchasehistory-tr label {
        display: block;
        padding:0;
    }
    .THIS .purchasehistory tbody tr td{
        float:left;
    }
    .THIS .lhc-title-all:before{
        width: 40px;
        height: 3px;
    }
}