.THIS .siteforceStarterBody{
    border:1px solid red;
}
.THIS .siteforceStarterBody .cCenterPanel{
    padding:0 !important;
}
.THIS .siteforceStarterBody .cCenterPanel.slds-m-top--x-large.slds-p-horizontal--medium {
    padding: 0 !important;
}
.THIS .profile21cc{
    background-color: #f2f2f2;     
    width: 100%;
    display: inline-block;
    margin-top:14px;
}
.THIS .profile21cc-item {
    float: left;
    padding: 15px 20px 15px 0;
    
}
.THIS .profile21cc-link{
    font-family: Museo300;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #000054;
}
.THIS .prof21cc-active{
    color: #000000;
    font-weight: bold;
    border-bottom: 5px solid #000054;
    padding-bottom: 10px;
}

.THIS .panel-default > .panel-heading {
    position: relative;
}
.THIS .panel-heading .fa {
    position: absolute;
    right: 10px;
    top: 13px;
}
.THIS .profile21cc-myplan>h2,.THIS .profile21cc-myoutcomes>h2{
    font-family: Museo;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000054;
    border-bottom: solid 2px rgba(0, 0, 83, 0.15);
    cursor:pointer;
    padding-left: 10px;
    padding-bottom: 10px;
}
.THIS .profile21cc-productcart{
    height: 290px;
    background-color: #ffffff;
    padding: 0 35px;
    margin-bottom: 40px;
}
.THIS .profile21cc-courseimg{   
    text-align: center;
    cursor: pointer;

}
.THIS .profile21cc-courseimg img{
     height: 160.5px;
}
.THIS .profile21cc-productcart .academic-details {
    background-color: #f0f0f0;
    border-bottom: 5px solid #fe8635;
    height: 125px;
    padding: 20px 20px;
    position:relative;
}
.THIS .profile21cc-productcart .academic-details h1 {
    font-family: Museo300;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #00004c;
    margin: 0;
}
.THIS .profile21cc-productcart .academic-status,
.THIS .profile21cc-productcart .academic-date {
    font-family: Museo300;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin: 10px 0;
    border-bottom:none;    
}
.THIS .myoutcome-completed{
     border-bottom: 5px solid #7ed321 !important;
}
/*accrodian css */
.THIS .rmit_accordian .accordion_body{
     display:none !important;
}
.THIS .onclick{
     background-color: yellow;
}
.THIS .rmit_accordian.myplan-content-is-collapsed .accordion_body{
    display:block !important
}

.THIS .rmit_accordian.myplan-content-is-collapsed .fa_plus,.THIS .rmit_accordian .fa_minus{
    display:none;
}
.THIS .rmit_accordian.myplan-content-is-collapsed .fa_minus,.THIS .rmit_accordian .fa_plus{
    display:block;
}
.THIS .lhc-title-all{
    font-family: Museo;
    font-size: 64px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: 0.9px;
    text-align: left;
    color: #000053;
    position: relative;
    padding-top: 14px;
    
}

.THIS .lhc-title-all:before {
    position: absolute;
    content: '';
    top: 0;
    left: 5px;
    width: 73px;
    height: 9px;
    background-color: #50d2ff;
}
.THIS .my-study-ecb{
    position: absolute;
    height: 95px;
    background: #50D2FF;
    top:-25px;
    width: 80px;
    right: 0;
}
.THIS .my-study-ecb:before{
    position: absolute;
    height: 90px;
    background: #50D2FF;
    content: '';
    width: 184px;
    top: 95px;
    right: 0;
}
.THIS .profile21cc-productcart a:focus{
    display: block;
    border: 1px solid blue;
    width: auto;
    text-decoration: underline!important;
}
.THIS .cLHC_MyProduct21CC .lhc-title-all{
    font-size: 35px; 
}
.THIS .redirectsection{
        margin-left:-20px;
    }
.THIS .redirectsection .container {    
    padding-right: 0;
} 
.THIS .plus_minus {
    float: right;
    font-family: Museo,serif;
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: -10px;
    margin-right: 20px;
}
.THIS .academic-integrity{
  width: 278px;
  height: 24px;
  font-family: Museo;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #00004c;
}
@media (max-width: 991px){
    .THIS .lhc-title-all{
        font-size: 35px; 
       margin: 25px 0;
    } 
   .THIS .redirectsection{
        margin-left:-20px;
    }
    .THIS .profile21cc-productcart{        
        max-width:100%;
    }
    .THIS .lhc-title-all:before{
        width: 40px;
        height: 3px;
    }
}
@media (max-width: 767px){
    .THIS .profile21cc-productcart{
        padding:0;
        max-width:100%;
    }
}