@font-face {
    font-family: 'Museo';
    src: url(../resource/museo);
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url(/sfsites/c/resource/Asset/Asset/css/fonts/HelveticaNeue.woff) format("woff"),
    url(/sfsites/c/resource/Asset/Asset/css/fonts/HelveticaNeue.ttf) format("truetype");
}

@font-face {
    font-family: 'Arial';
    src: url(../resource/arial);
}
.THIS .page-header {
    padding: 20px 5px 0px 0px;
}

.THIS .pipe{
    content: '';
    position: relative;
    top: -10px;
    left: 0;
    width: 50px;
    height: 6px;
    background-color: #f5a623;
}
.THIS .label-text {
    padding-right: 0;
    font-family: Museo;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
}
.THIS .btn-create-project {
    width: 128px;
    height: 32px;
    margin-right: 5%;
    border-radius: 4px;
    background-color: #000054;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.THIS .btn-create-project:focus , .THIS .btn-create-project:hover {
    background-color: #d0021b;
    border : 1px solid #d0021b;
}
.THIS .btn-label-text{
    font-family: Museo;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
}
.THIS .ProjectDetailDisplay {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    max-width: none;
    width: 100%;
}
.THIS .rp-project-badge {
    background: #7db81a;
    color: #ffffff;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 13px;
    height: 18px;
    padding-top: 3px;
}

.THIS .rm-project-badge {
    padding-left: 6px;
    padding-right: 6px;
    vertical-align: top;
    height: 18px;
    background: #0078ff;
    padding-top:3px;
    margin-top: 4px;
}

.THIS .project-list-legend {
    background-color: rgba(255,255,255,0.54);
    height: 60px;
    margin: 0;
}
.THIS .project-list-legend-text {
    display: inline-flex;
}
.THIS .project-title{
    font-family: Museo;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #050156;
    display: inline-flex;
    max-height: 200px
}
.THIS .pjtdetailspane{
    margin : 0px;
    padding :0px;
}
.THIS .pjtResult{
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #4a4a4a;
}
.THIS .by{
    font-family: HelveticaNeue;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}
.THIS .conceptPjtBorder{
    border-left: 2px solid #7db81a;
}
.THIS .RMPjtBorder{
    border-left: 2px solid  #0078ff;
}
.THIS .titleEllipses{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow:hidden;
    max-height: 63px;
}
.THIS .summaryEllipses{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height:70px;
}
.THIS .membersEllipses{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.THIS .page-title{
    font-family: Museo;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #050156;
}
.THIS .page-sub-title{
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.THIS .view-more-btn{
    background: white;
    border: solid 1px #333333;
    color: #333333;
    height: 30px;
    line-height: 15px;
    font-family: Museo;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #333333;
    font-weight: 500;
}
.THIS .searchBox{
    box-shadow: 1px 2px 6px 0 rgba(196, 196, 196, 0.5);
    background-color: #ffffff;
}
.THIS .search-box-label{
    width: 47px;
    height: 18px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #333333;
}
.THIS .clear-all{
    position: absolute;
    top: 6px;
    right: 0;











    cursor: pointer;
}
.THIS .pos-relative{
    position: relative;
}
.THIS .padding-top-10{
    padding-top:10px;
}
.THIS .padding-bottom-10{
    padding-bottom:10px;
}
.THIS .search-btn{
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    background-color: #000054;
}
.THIS .active-tab{
    background-color: #f6f5f5;
    min-width: 100px;
    text-align: center;
    border-bottom: solid #000054;
}
.THIS .active-tab > a{
    color:#000054;
}
.THIS .text-link{
    font-family: Museo;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333333;
}
.THIS .minwidth100{
    min-width:100px;
    text-align:center;
}
.THIS .nav-tabs .nav-link:hover, .THIS .nav-tabs .nav-link:focus {
    border-color: transparent;

}
.THIS #filter-R:hover, .THIS #filter-U:hover, .THIS #filter-all:hover{
    border-bottom:2px solid #000054;
}
.THIS #filter-R .nav-link:hover, .THIS #filter-U .nav-link:hover, .THIS #filter-all .nav-link:hover{
    color: #000054;
}
.THIS .helpimg{
    color: #c0c0c0;
}
.THIS .pjtaccess_text {
    display: none;
    color: #ffffff;
    top: -75px;
    left: -10px;
    border: none;
}

.THIS .pjtacceess:hover .pjtaccess_text , .THIS .pjtacceess a:focus + .pjtaccess_text{
    display: block;
    visibility:visible;
}

.THIS .pjtaccess_text::after {
    content: "";
    position: absolute;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    top: 45px;
    left: 7px;
    z-index: 99;
    transform: rotate(180deg);
}
.THIS .dropdown-item, .THIS .uiInput--select .select:not([multiple]){
    white-space : normal;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

.THIS .test .dropdown-menu{
    min-width: 20rem;
    max-width: 20px;
}

.THIS .dropdown-menu{
    min-width: 23rem;
    max-width: 22px;
}

.THIS .pjtAccess_padding{
    padding-top: 10px;
}
.THIS #searchError{
    color: red;
    font-size: 14px;
}
.THIS .dt-more-container{
    text-align:center;
    margin:2em 25em;
}

/*.THIS #btn-loadMore-pjts{
    width: 260px;
    height: 40px;
    background-color: #ffffff;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: center;
    color: #000054;
    border-radius: 4px;
    box-shadow: 1px 2px 6px 0 rgba(196, 196, 196, 0.5);
}*/
.THIS .load-more{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}
.THIS .forcodesheader{
    border-top: 1px solid rgba(196, 196, 196, 0.5);
}
.THIS .forcodes{
    border-radius: 14px;
    border: solid 1px #cfe2ed;
    background-color: #fafbfd;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    color: #5b7287;
}
.THIS .forEllipses{
    display: -webkit-inline-box;
    overflow: hidden;
    max-height:104px;
}
.THIS .forcodesfilter{
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-overflow:ellipsis;
    padding-left: 6px;
}
.THIS .input-group-btn {
    position: absolute;
    right: 5px;
    top: 32px;
    font-size: 20px;
}
.THIS .selectedLabel{
    font-family: HelveticaNeue;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;

}
.THIS .checkboxli label {
    padding-left: 10px;
    width: 90%;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.29;
    letter-spacing: normal;
    color: #333333;
}
.THIS .checkboxli:nth-child(odd) {
    background-color: #ffffff;
    padding-left: 12px;
}
.THIS .checkboxli:nth-child(even) {
    background-color: #eaeaea;
    padding-left: 12px;
}
.THIS .filterDropDown{
    max-height: 145px;
    overflow : auto;
    box-shadow: 1px 2px 10px 0 rgba(165, 165, 165, 0.5);
    border: solid 1px #ccced0;
}
.THIS .dispNone{
    display: none;
}
/* Create a custom checkbox */
.THIS .checkmark {
    position: absolute;
    top: 9px;
    left: -20px;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: solid 1px #ccced0;
}

/* On mouse-over, add a grey background color */
.THIS .container:hover input ~ .checkmark {
    background-color: #fff;
    border: solid 1px #ccced0;
}

/* When the checkbox is checked, add a blue background */
.THIS .container input:checked ~ .checkmark {
    background-color: #2196F3;
}
.THIS .container input:checked ~ .checkmark ~ span{
    font-weight:700;
}

.THIS .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.THIS .container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.THIS .container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.THIS .container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.THIS .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.THIS .form-control:focus{
    box-shadow:none;
}
.THIS .display-none{
    display:none;
}
.THIS .bold{
    font-weight: 700;
}
.THIS .view-more-btn-text>a, .THIS .view-more-btn-text>a:hover{
    color: #000054;
    text-decoration:none;
}
.THIS .highlightText { background-color: #fac800 }
@media screen and (max-width: 1100px) {
    .THIS .view-more-btn{

        font-size:12px;
    }
    .THIS .view-more-btn-text{
        font-size:12px;
    }
}
.THIS .submittingText{
    top: 55%;
    position: fixed;
    right: 47.5%;
}
.THIS .searchLoading{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}