.THIS .rp-accordion {
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  cursor: pointer;
  padding: 10px 32px 10px 32px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  color: #333333;	
  font-family: arial;
  font-size: 16px;
  line-height: 32px;
}

.THIS .rp-accordion.active .rp-caret-icon{
  transform: rotate(-180deg);
}
.THIS button.rp-accordion.active~.rp-panel{
      border-left: 1px solid #E5E5E5;
      border-right: 1px solid #E5E5E5;
      border-bottom: 1px solid #E5E5E5;
      overflow: visible;
    display:block;
}
.THIS .rp-accordion:hover{
  outline: none;
}

.THIS .rp-panel {
  padding: 0 18px;
  background-color: white;
    display:none;
  /*max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;*/
}

.THIS .rp-caret-icon{
	font-size: 18px;
    float: right;
    line-height: 32px;
    -webkit-text-stroke-width: 1px;
}
.THIS .font-size-16{
    font-size: 16px;
}
.THIS .rp-selectedCount{
    color:#333;
    font-family: arial;
    font-size: 16px;
    line-height: 26px;
    padding: 4px 17px;
    float: right;
    margin-right: 2rem;
    background-color: rgba(0,120,255,0.1);
    border-radius: 14.5px;
}