@font-face {
	font-family: 'Helvetica';
	src: url(/sfsites/c/resource/Asset/Asset/css/fonts/HelveticaNeue.woff) format("woff"), 
		 url(/sfsites/c/resource/Asset/Asset/css/fonts/HelveticaNeue.ttf) format("truetype");
}

.THIS .badge-notify{
   	position:absolute;
   	top: -0;
   	left: 55%;
   	z-index: 10;
   	padding-left: 5px;
   	padding-right: 5px;
   	padding-top: 2px;
   	padding-bottom: 3px;
   	font-size: 10px;
}

.THIS .RSTPLeftNavbar {
	min-height: 100vh;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0
		rgba(0, 0, 0, 0.08);
}

.THIS .leftNavbarIcon {
	padding-top: 5px;
	font-size: 25px;
	color: #4a4a4a;
	color: var(- -greyish-brown);
}

.THIS .leftNavbarLabel {
	display: inline-table;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #666666;
	width: 50px;
}

.THIS #myProjectsIcon {
    -webkit-box-sizing: border-box;
    background: url(../resource/LeftNavbarIcons/icon/projects.png) no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    padding-left: 30px;
}

.THIS .leftNavbarLink:hover #myProjectsIcon, .THIS a:focus #myProjectsIcon, .THIS .tabActive #myProjectsIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background: url(../resource/LeftNavbarIcons/icon/projects-active.png) no-repeat;
    background-size: 30px 30px;
    width: 30px; 
    height: 30px; 
    margin: 0 40%;
}

.THIS #myMilestonesIcon {
    -webkit-box-sizing: border-box;
    background: url(../resource/LeftNavbarIcons/icon/milestones.png) no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    padding-left: 30px;
}

.THIS .leftNavbarLink:hover #myMilestonesIcon, .THIS a:focus #myMilestonesIcon, .THIS .tabActive #myMilestonesIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background: url(../resource/LeftNavbarIcons/icon/milestones-active.png) no-repeat;
    background-size: 30px 30px;
    width: 30px; 
    height: 30px; 
    margin: 0 40%;
}

.THIS #myFinancesIcon {
    -webkit-box-sizing: border-box;
    background: url(../resource/LeftNavbarIcons/icon/finances.png) no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    padding-left: 30px;
}

.THIS .leftNavbarLink:hover #myFinancesIcon, .THIS a:focus #myFinancesIcon, .THIS .tabActive #myFinancesIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background: url(../resource/LeftNavbarIcons/icon/finances-active.png) no-repeat;
    background-size: 30px 30px;
    width: 30px; 
    height: 30px; 
    margin: 0 40%;
}

.THIS #myContractsIcon {
    -webkit-box-sizing: border-box;
    background: url(../resource/LeftNavbarIcons/icon/contracts.png) no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    padding-left: 30px;
}

.THIS .leftNavbarLink:hover #myContractsIcon, .THIS a:focus #myContractsIcon, .THIS .tabActive #myContractsIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background: url(../resource/LeftNavbarIcons/icon/contracts-active.png) no-repeat;
    background-size: 30px 30px;
    width: 30px; 
    height: 30px; 
    margin: 0 40%;
}

.THIS #myEthicsIcon {
    -webkit-box-sizing: border-box;
    background: url(../resource/LeftNavbarIcons/icon/ethics.png) no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    padding-left: 30px;
}

.THIS .leftNavbarLink:hover #myEthicsIcon, .THIS a:focus #myEthicsIcon, .THIS .tabActive #myEthicsIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background: url(../resource/LeftNavbarIcons/icon/ethics-active.png) no-repeat;
    background-size: 30px 30px;
    width: 30px; 
    height: 30px; 
    margin: 0 40%;
}

.THIS #myPublicationsIcon {
    -webkit-box-sizing: border-box;
    background: url(../resource/LeftNavbarIcons/icon/publications.png) no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    padding-left: 30px;
}

.THIS .leftNavbarLink:hover #myPublicationsIcon, .THIS a:focus #myPublicationsIcon, .THIS .tabActive #myPublicationsIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background: url(../resource/LeftNavbarIcons/icon/publications-active.png) no-repeat;
    background-size: 30px 30px;
    width: 30px; 
    height: 30px; 
    margin: 0 40%;
}

.THIS #candidatureCentreIcon {
    -webkit-box-sizing: border-box;
    background: url(../resource/LeftNavbarIcons/icon/candidatureCentre.png) no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    padding-left: 30px;
}

.THIS .leftNavbarLink:hover #candidatureCentreIcon, .THIS a:focus #candidatureCentreIcon, .THIS .tabActive #candidatureCentreIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background: url(../resource/LeftNavbarIcons/icon/candidatureCentre-active.png) no-repeat;
    background-size: 30px 30px;
    width: 30px; 
    height: 30px; 
    margin: 0 40%;
}

.THIS #hdrsupervisionIcon {
    -webkit-box-sizing: border-box;
    background: url(../resource/LeftNavbarIcons/icon/hdr.png) no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    padding-left: 30px;
}

.THIS .leftNavbarLink:hover #hdrsupervisionIcon, .THIS a:focus #hdrsupervisionIcon, .THIS .tabActive #hdrsupervisionIcon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background: url(../resource/LeftNavbarIcons/icon/hdr-active.png) no-repeat;
    background-size: 30px 30px;
    width: 30px; 
    height: 30px; 
    margin: 0 40%;
}

.THIS .collabImg{
    background: url(../resource/collaborationImg) no-repeat;
    box-sizing: border-box;
    padding-left: 30%;
    height: 30px;
    margin: 0 40%;
    width: -moz-fit-content;
}
.THIS .collabImg:hover, .THIS .tabActive .collabImg {
    background: url(../resource/collaboration_Active) no-repeat;
    box-sizing: border-box;
    padding-left: 30%;
    height: 30px;
    margin: 0 40%;
}
@media only screen and (max-width: 1024px) {
	.THIS .RSTPLeftNavbar {
		display: none;
	}
	
	.THIS .leftNavbarIcon {
		font-size: 20px;
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.THIS .RSTPLeftNavbar {
		padding-left: 0;
		padding-right: 0;
	}
}

.THIS .leftNavbarDiv {
	height: fit-content;
	padding-bottom: 5px !important;
}

.THIS .leftNavbarLink {
	display: block;
	height: fit-content;
}

.THIS .leftNavbarLink:hover{
	text-decoration: none;
}

/* .THIS .leftNavbarLink:hover .leftNavbarIcon {
	color: #0078ff;
	color: var(- -bright-blue-two);
	text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	text-shadow: 0 2px 4px 0 var(- -black-two-12);
} */

.THIS .leftNavbarLink:hover .leftNavbarLabel {
	color: #4a4a4a;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}

.THIS .tabActive{
	border-right: solid 2px #0078ff;
}

.THIS .tabActive .leftNavbarIcon {
	color: #0078ff;
	color: var(- -bright-blue-two);
}

.THIS .tabActive .leftNavbarLabel {
	color: #4a4a4a;
	color: var(- -bright-blue-two);
}