.THIS .pageTitle {
    font-family: Museo;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
    position: relative;
    padding-top: 10px;
}

.THIS .pageTitle:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: #d0021b;
}

.THIS .lifecycleBoxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    min-height: 30em;
    margin-left: -12px;
    margin-right: -12px;
}

.THIS .ocmsContentBody_X {
    width: 100%;
}

.THIS .cmsContentLoader {
    background-color: transparent;
}