<apex:page standardController="Lead" extensions="CampaignEventNewStudentController" sidebar="false" showHeader="false" standardStylesheets="false" applyHtmlTag="html-5.0">
    <html>
        <head>
            <apex:stylesheet value="{!URLFOR($Resource.bootstrap_3_3_5, '/bootstrap-3.3.5-dist/css/bootstrap.min.css')}"/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
        <body>
            
            <div class="container-fluid">
        <apex:form styleClass="form-horizontal" id="mainForm">
            <!--<apex:pageMessages escape="false"></apex:pageMessages>-->
            <div class="row head">
              <div class="col-md-2">
                  <apex:image id="theImage" value="{!$Resource.RMIT_Logo}" width="250"/>
              </div>
              <div class="col-md-10"></div>
            </div>
            
            <div class="row title">
                <H1>Get Prepared</H1>
            </div>
            
            <div class="row wrapper">
                <div class="col-md-6">
                    <H3>Your details</H3>
                </div>  
            </div>
            <div class="row content">
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Firstname" class="col-sm-4 control-label">First name: *</label>
                        <div class="col-sm-4">
                            <apex:inputText styleClass="form-control" id="Firstname" value="{!firstName}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Lastname" class="col-sm-4 control-label">Last name: *</label>
                        <div class="col-sm-4">
                          <apex:inputText styleClass="form-control" id="Lastname" value="{!lastName}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-4 control-label">Email address: *</label>
                        <div class="col-sm-4">
                          <apex:inputText styleClass="form-control" id="Email" value="{!email}"/>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="Mobile" class="col-sm-4 control-label">Mobile: </label>
                        <div class="col-sm-4">
                          <apex:inputText styleClass="form-control" id="Mobile" value="{!mobile}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PostCode" class="col-sm-4 control-label">Post Code: </label>
                        <div class="col-sm-4">
                          <apex:inputText styleClass="form-control" id="PostCode" value="{!Lead.PostCode__c}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="School" class="col-sm-4 control-label">School: </label>
                        <div class="col-sm-4">
                          <apex:inputText styleClass="form-control" disabled="{!hasSchool}" id="School" value="{!School}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="currently" class="col-sm-4 control-label">I am currently: *</label>
                        <div class="col-sm-5">
                            <apex:selectList id="Currently" styleClass="form-control" style="margin-top: 7px;" value="{!Lead.I_am_currently__c}" size="1">
                                <apex:selectOptions value="{!IAmCurrently}"/>
                            </apex:selectList>  
                        </div>
                    </div>                    
                    <div class="form-group">
                        <label for="currently" class="col-sm-4 control-label">Residency Status: </label>
                        <div class="col-sm-5">
                            <apex:selectList id="Picklist_Residency_Status" styleClass="form-control" style="margin-top: 7px;" value="{!Lead.Residency_status__c}" size="1">
                                <apex:selectOptions value="{!ResidencyStatus}"/>
                            </apex:selectList>  
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                    	
                        <label for="" class="col-sm-4 control-label">Select an area you are interested in: </label>
                        <div class="col-sm-5">
	                        <apex:selectList id="Picklist_Select_Area_Interested" styleClass="form-control" style="margin-top: 10px;" value="{!interestArea}" size="1">
							  <apex:selectOptions value="{!SelectAreaInterested}"/>
							</apex:selectList>
						</div>
						
                    </div>
                </div>
            </div>

            <div class="row content" style="padding-top: 20px;">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <p>
                        RMIT University values privacy and is committed to handling personal, sensitive and health information in accordance with the <br/>
                        <a href="http://www1.rmit.edu.au/browse;ID=eislllwhc1mb">RMIT University Privacy and Data Protection Policy</a> and the privacy principles contained in the Privacy and Data Protection Act 2014 (Vic) and the Health<br/>
                        Records Act 2001 (Vic).
                    </p>
                    <p>
                        The information you provide in this form will be kept securely and accessed only by staff for the purpose of University functions. <br/>
                        De-identified information may be used for improvement processes.
                    </p>
                </div>
            </div>
        
            <div id="button_panel" class="row content">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <button type="button" id="myBtn"
                        style="margin-top: 5px;
                                    margin-bottom: 5px;
                                    color: #fff;
                                    background: #d9534f;
                                    border-color: #d43f3a;
                                    display: inline-block;
                                    padding: 6px 12px;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 1.42857143;
                                    text-align: center;
                                    white-space: nowrap;
                                    vertical-align: middle;"
                                value="Submit">Submit</button>
                        <apex:actionFunction action="{!createNewStudent}" name="savechange"/>
                </div>
            </div>
        </apex:form>
    </div> 
            
            
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                      <p>Some text in the modal. <span id="count">5</span></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
             </div>
            
            <script>
                $(document).ready(function(){
                    $("#myBtn").click(function(){
                        $("#myModal").modal();

                        var counter = 5;
                   
                        setInterval(function() {
                            counter--;
                            if (counter >= 0) {
                                span = document.getElementById("count");
                                span.innerHTML = counter;
                            }
                            // Display 'counter' wherever you want to display it.
                            if (counter === 0) {
                                savechange();
                                clearInterval(counter);
                            }
                            
                        }, 1000);
                    });
                });
            </script>
        </body>
    </html>
</apex:page>