<apex:page >
    <apex:form >
    <apex:commandLink action="https://mc.s10.exacttarget.com/cloud" type="image/png">
    <apex:image value="{!$Resource.Marketing_Cloud_Logo}" style="max-height:60px;"/>   
    <apex:image value="{!$Resource.Marketing_Cloud_Text}" style="max-height:29px;max-width:auto;position:relative;left:20px;"/>
</apex:commandlink> 
</apex:form>
</apex:page>