<apex:page >
    <apex:form >
        <div>
            <apex:commandLink action="http://rmit.instructure.com/login" type="image/png">
                <apex:image value="{!$Resource.Canvas}" style="max-height:60px;max-width:35px;" />
            </apex:commandlink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <apex:commandLink action="https://rmit.service-now.com/serviceandsupport/requestservice.do" type="image/png">
                <apex:image value="{!$Resource.ITSSupport}" style="max-height:60px;max-width:35px;" />
            </apex:commandlink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <apex:commandLink action="https://www.rmit.edu.au/staff" type="image/png">
                <apex:image value="{!$Resource.Worklife}" style="max-height:60px;max-width:35px;" />
            </apex:commandlink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <apex:commandLink action="https://rmit.service-now.com/serviceandsupport/reportissue.do" type="image/png">
                <apex:image value="{!$Resource.ReportIssue}" style="max-height:60px;max-width:35px;" />
            </apex:commandlink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div><br></br>
        <div>
            <apex:commandLink action=" https://trailhead.salesforce.com" type="image/png">
                <apex:image value="{!$Resource.Trailhead}" style="max-height:60px;max-width:40px;" />
            </apex:commandlink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <apex:commandLink action="https://socialstudio.radian6.com/" type="image/png">
                <apex:image value="{!$Resource.SocialStud}" style="max-height:60px;max-width:35px;" />
            </apex:commandlink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <apex:commandLink action="https://mc.s10.exacttarget.com/cloud/" type="image/png">
                <apex:image value="{!$Resource.MarketingCloud}" style="max-height:60px;max-width:35px;" />
            </apex:commandlink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </apex:form>
</apex:page>