<apex:page >
    <apex:form >
    <apex:commandLink action="http://www.rmit.edu.au/staff" type="image/png">
    <apex:image value="{!$Resource.Staff_Site_Logo}" style="max-height:60px;"/>   
    <apex:image value="{!$Resource.Staff_Site_Text}" style="max-height:29px;max-width:auto;position:relative;left:20px;"/>
</apex:commandlink> 
</apex:form>
</apex:page>