<apex:page >
    <apex:form >
    <apex:commandLink action="https://trailhead.salesforce.com" type="image/png">
    <apex:image value="{!$Resource.Trailhead_Logo}" style="max-height:60px;"/>   
    <apex:image value="{!$Resource.Trailhead_Text}" style="max-height:29px;max-width:auto;position:relative;left:20px;"/>
</apex:commandlink> 
</apex:form>
</apex:page>