.THIS .researcher-portal-footer {
    padding: 1rem;
}

.THIS .researcher-portal-footer p:last-child {
    margin-bottom: 0;
}

@media(max-width: 1200px) {
    .THIS table[border="0"] td {
        display: inline-block;
        margin-right: 2em;
    }
}

.THIS.RMIT-primary-blue,
.THIS .RMIT-primary-blue {
    background-color: #000054;
    color: #fff;
}

.THIS.RMIT-secondary-orange,
.THIS .RMIT-secondary-orange {
    background-color: #fc9147;
    color: #000;
}

.THIS.RMIT-secondary-yellow,
.THIS .RMIT-secondary-yellow {
    background-color: #fac800;
    color: #000;
}

.THIS.RMIT-secondary-lemon,
.THIS .RMIT-secondary-lemon {
    background-color: #eedc00;
    color: #000;
}

.THIS.RMIT-secondary-green,
.THIS .RMIT-secondary-green {
    background-color: #aad75f;
    color: #000;
}

.THIS.RMIT-secondary-aqua,
.THIS .RMIT-secondary-aqua {
    background-color: #00dcb4;
    color: #000;
}

.THIS.RMIT-secondary-teal,
.THIS .RMIT-secondary-teal {
    background-color: #7ae1aa;
    color: #000;
}

.THIS.RMIT-secondary-blue,
.THIS .RMIT-secondary-blue {
    background-color: #0078ff;
    color: #fff;
}

.THIS.RMIT-secondary-azure,
.THIS .RMIT-secondary-azure {
    background-color: #00aaff;
    color: #000;
}

.THIS.RMIT-secondary-arctic,
.THIS .RMIT-secondary-arctic {
    background-color: #50d2ff;
    color: #000;
}

.THIS.RMIT-secondary-purple,
.THIS .RMIT-secondary-purple {
    background-color: #aa0082;
    color: #fff;
}

.THIS.RMIT-secondary-lavender,
.THIS .RMIT-secondary-lavender {
    background-color: #c864c8;
    color: #000;
}

.THIS.RMIT-secondary-pink,
.THIS .RMIT-secondary-pink {
    background-color: #ff8199;
    color: #000;
}