.THIS.hide {
    display: none;
}
.THIS .field{
    padding: 5px;
    border: 1px solid #dce4ec;
    border-radius: 2px;
}
.THIS.btn {
    margin-bottom: 10px;
}
.THIS .common-button{
    padding:6px 20px;
    margin-bottom:20px;
}
.THIS .redirectsection .container {
    padding: 40px 15px;
    margin-top: 30px;
}
.THIS label.uiLabel {
    padding-right: 12px;
}

.THIS .lhc-title-all{
    font-family: Museo;
    font-size: 64px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: 0.9px;
    text-align: left;
    color: #000053;
    position: relative;
    padding-top: 14px;
    
}

.THIS .lhc-title-all:before {
    position: absolute;
    content: '';
    top: 0;
    left: 5px;
    width: 73px;
    height: 9px;
    background-color: #50d2ff;
}
.THIS .my-study-ecb{
    position: absolute;
    height: 95px;
    background: #50D2FF;
    top:-26px;
    width: 80px;
    right: 0;
}
.THIS .my-study-ecb:before{
    position: absolute;
    height: 90px;
    background: #50D2FF;
    content: '';
    width: 184px;
    top: 95px;
    right: 0;
}
.THIS .redirectsection:before{
    left:0;
}
.THIS .signup-page .form-control,.THIS .signup-page select {
    border-radius: 0;
    height: 52px;
}
.THIS .form-check-input{
    height:auto;
}
.THIS .applicantdeclaration{
    font-family: HelveticaNeue-Light;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.THIS .rules-title{
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin:10px 0;
    display:block;
}
.THIS .uiInput--default .form-element__label{
    font-family: Helvetica Neue;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.THIS .declaration-notes ul{
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    list-style-type: disc;
    margin: 0 10px;
}
.THIS .privacy-statement,.THIS .privacy-statement-desc{
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.THIS .privacy-statement-desc{
    font-size: 14px;
    margin: 10px 0;    
}
.THIS .slds-form-element .slds-checkbox [type="checkbox"] + .slds-checkbox__label .slds-checkbox_faux{
    background:#000054;
}
.THIS .conditioncheck .slds-checkbox_faux:after {
    border-bottom: 2px solid white!important;
    border-left: 2px solid white!important;
}
.THIS .conditioncheck .slds-checkbox_faux {
    height: 30px;
    width: 30px;
}
.THIS .conditioncheck .slds-checkbox_faux:after {
    width: 8px!important;
    height: 5px!important;
    top: 44%!important;
}
.THIS .agreeterms .slds-form-element__label {
    font-family: HelveticaNeue;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #00004c;
}
.THIS .already-registered{
    font-family: Museo;
    font-size: 36px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #000054;
}
.THIS .Complete-registration{
    color: #000000;
    padding-bottom: 20px;
    font-family: Museo;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
}
.THIS .agreeterms{
    margin: 50px 10px;
}
.THIS hr{
    border-top: solid 1px #979797;
}
.THIS .cart-common-button{
    margin:15px 0 !important;        
}
.THIS .cart-common-button .button-cancel{
    float:right;
    width:175px;
}
.THIS .cart-common-button .button-cancel,.THIS .slds-button-blue{
    width:175px;
}
.THIS .common-button{
    width: 175px;
}
.THIS label.slds-form-element__label.slds-no-flex {
    font-family: "Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.THIS .ui-widget{
    margin:0 auto;
    padding-left:0;
    width:1170px;
    display:table;
}
.THIS .rsvp_abrForm abbr[title]{
    text-decoration: none;
    border-bottom: 0px dotted;
}
.THIS .copyrights .slds-form-element__label{
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #00004c;
}
.THIS .copyrights .slds-checkbox_faux{
    height: 20px;
    width: 20px;
}
.THIS .copyrights .slds-checkbox_faux:after{
    width: 8px !important;
    height: 5px !important;
    top: 44% !important;
}
.THIS .rsvp_abrForm abbr[title]{
        text-decoration: none;
    	border-bottom: 0px dotted;
}
.THIS .form-signup input,.THIS .form-signup select {
    border-radius: 0;
    height: 52px;
}

.THIS .form-signup input.uiInputRadio {
    height: 20px;
}
.THIS .form-signup label {
    font-family: "Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}