@font-face {
	font-family: 'Museo';
	src: url(../resource/museo);
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url(/sfsites/c/resource/Asset/Asset/css/fonts/HelveticaNeue.woff) format("woff"), 
		 url(/sfsites/c/resource/Asset/Asset/css/fonts/HelveticaNeue.ttf) format("truetype");
}

@font-face {
	font-family: 'Arial';
	src: url(../resource/arial);
}

@import url('https://fonts.googleapis.com/css?family=Lato');

.THIS .page-header {
	padding: 20px 5px 0px 0px;
}

.THIS .pipe{
    content: '';
    position: relative;
    top: -10px;
    left: 0;
    width: 50px;
    height: 6px;
    background-color: #f5a623;	
}

.THIS .my-milestones-list {
	background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.THIS .label-text {
    padding-right: 0;
	font-family: Museo;
  	font-size: 21px;
  	font-weight: 500;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #000054;
}

.THIS .milestone-list-icon {
    height:15px;
}

.THIS #myMilestoneList {
	table-layout: fixed;
}

.THIS table#myMilestoneList .table-name-column {
	position: relative;
	width: 15% !important;
}

.THIS table#myMilestoneList .table-description-column {
	position: relative;
	width: 15% !important;
}

.THIS table#myMilestoneList .table-icon-column {
	position: relative;
	width: 10px !important;
}

.THIS table.dataTable thead th, .THIS table.dataTable tbody td {
	font-family: HelveticaNeue;
  	font-size: 14px;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: 0.4px;
  	color: #4a4a4a;
}

.THIS table.dataTable thead th {
	font-weight: bold;
	border:none;
	border-bottom: solid 1px rgba(151, 151, 151, 0.17);
	padding-top: 20px;
	padding-bottom: 20px;
  	/* background: #ffffff; */
}

.THIS table#myMilestoneList tbody td {
	font-weight: normal;
	border: none;
	border-bottom: solid 1px rgba(151, 151, 151, 0.17);
	padding: 10px 18px;
	height: 30px;
	vertical-align: middle;
	
}

.THIS table.dataTable thead .sorting {
    background: url(../resource/sort_both) no-repeat;
    background-position: center left;
    filter: brightness(57%);
    border: 0px;
}
.THIS table.dataTable thead .sorting_desc {
    background: url(../resource/sort_desc) no-repeat;
     background-position: center left;
}
.THIS table.dataTable thead .sorting_asc {
    background: url(../resource/sort_asc) no-repeat;
    background-position: center left;
}

.THIS .view-all-milestones {
	width: 98%;
}

.THIS .btn-label-text{
	font-family: Museo;
  	font-size: 12px;
  	font-weight: 300;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.33;
  	letter-spacing: 0.4px;
  	text-align: center;
  	color: #ffffff;
}

.THIS .title-text {
	font-family: HelveticaNeue;
  	font-size: 14px;
  	font-weight: normal;
 	font-style: normal;
 	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
}

.THIS .truncate {
	max-width: 95%;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

.THIS .dt-more-container{
    text-align:center;
    margin:2em 0;
    background: #ffffff;
}

.THIS .rp-project-badge {
	background: #f5a623;
	color: #ffffff;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 13px;
}

.THIS .rm-project-badge {
	padding-left: 6px;
    padding-right: 6px;
    vertical-align: top;
    height: 18px;
}

.THIS .milestone-list-legend {
	background-color: rgba(255,255,255,0.54);
	height: 60px;
	margin: 0;
}

.THIS .project-list-filter {
	height: 60px;
}

.THIS .project-list-legend-text {
	font-family: Arial;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
}

.THIS .btn-search {
	width: 89px;
  	height: 32px;
  	border-radius: 4px;
  	background-color: #000054;
  	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  	font-family: Museo;
  	font-size: 12px;
  	font-weight: 300;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.33;
  	letter-spacing: 0.4px;
  	text-align: center;
  	color: #ffffff;
}

.THIS .search-box-text {
	font-family: Lato;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.71;
  	letter-spacing: 0.4px;
  	color: #9b9b9b;
}

.THIS a#back-to-top i {
	position: absolute;
	right: 25px;
	bottom: 30px;
	font-size: 40px;
}
.THIS .page-title{
    font-weight: bold;
}
.THIS .uiInput--select{
    display: inline-flex;
    padding-top: 10px;
    padding-left: 20px;
}
.THIS .uiLabel{
    color: black;
    padding-right: 10px;
}
.THIS .type{
   font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #000000;
  margin:5px;
  padding-top: 16px;
}

.THIS .topic-select {
	border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    border: solid 1px #ccced0;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-overflow:ellipsis;
    margin-top:10px;
    padding-left: 6px;
}
.THIS .input-group-btn {
	position: relative;
	right: 20px;
	top: 13px;
	font-size: 20px;
}
.THIS .select-topic-item {
	min-height: 35px;
	font-family: Lato;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 35px;
  	letter-spacing: 0.5px;
  	color: #000000;
  	padding-left: 10px;
  	word-wrap: break-word;
  	cursor: pointer;
}
.THIS .dropdown-content {
	/* position: relative;
	top: -23px; */
	width: 50%;
	max-height: 250px;
    overflow : auto;
    background-color: #ffffff;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    border: 1px solid rgb(197, 197, 197);
    margin-left: 110px;
    position: relative;
}
.THIS .membersli{
    color:black;
    text-decoration : none;
}
.THIS #duedateDropdown{
    margin-left: 76px !important;
    width: 59%;
}
.THIS .duedatefilter{
    width:59%;
}
.THIS .select-topic-item:nth-child(odd) {  
    background-color: #ffffff;    
    padding-left: 10px;
}
.THIS .select-topic-item:nth-child(even) {  
    background-color: #eaeaea;   
    padding-left: 10px; 
}