.THIS .slds-button-blue{
    border-radius: 20px;
    background-color: #000053;
    font-family: Museo-300;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 6px 12px;
    height: 40px;
    border:none;
}
.THIS .fa-angle-left{
    margin-right:10px;
}
.THIS .fa-angle-right{
    margin-left:10px;
}
.THIS .btndeleteicon{
    text-align:center;
}
.THIS .totalforcheckout>span:first-child{
    text-align: right;
    padding-right: 30px;
}
.THIS .coursetotal-amt {
    left: 10px;
    float: left;
    text-align: left;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #00004c;
}
.THIS .cart-scroll{
	overflow-y: scroll;
    height: 172px;
    padding-top: 10px;
    width:100%;
} 
.THIS  .readyforcheckout{
     min-height: 238px;
     height:auto;
     background-color: #ffffff;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
     position:relative;
     padding:0;
}
.THIS .btndeleteicon a{
    color: rgba(0, 0, 0, 0.7);
    position: relative;
}
.THIS .purchase_sucessmsg{
    margin-top: 50px;
    margin-left: 20px;
    font-family: Museo300;
    font-size: 36px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.89;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000053;
}
.THIS .readyforcheckout{
    margin-top:25px;
}
.THIS .lhc-title-all{
    font-family: Museo;
    font-size: 64px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: 0.9px;
    text-align: left;
    color: #000053;
    position: relative;
    padding-top: 14px;
    
}

.THIS .lhc-title-all:before {
    position: absolute;
    content: '';
    top: 0;
    left: 5px;
    width: 73px;
    height: 9px;
    background-color: #50d2ff;
}
.THIS .my-study-ecb{
    position: absolute;
    height: 95px;
    background: #50D2FF;
    top:-26px;
    width: 80px;
    right: 0;
}
.THIS .my-study-ecb:before{
    position: absolute;
    height: 90px;
    background: #50D2FF;
    content: '';
    width: 184px;
    top: 95px;
    right: 0;
}