.THIS .ecb-button-center{
    display:inline-block; 
} 
.THIS .button-submit{
    font-size: 18px;
    font-family: Museo;
}
.THIS p a:hover,.THIS p a:visited,.THIS p a:focus{
    color: #00004c;
}

.THIS .conditioncheck .slds-form-element__label{
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #00004c;
}
.THIS .conditioncheck .slds-checkbox_faux{
    height: 20px;
    width: 20px;
}
.THIS .conditioncheck .slds-checkbox_faux:after{
    width: 8px !important;
    height: 5px !important;
    top: 44% !important;
}
.THIS .lhc-title-all{
    font-family: Museo;
    font-size: 64px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: 0.9px;
    text-align: left;
    color: #000053;
    position: relative;
    padding-top: 14px;
    
}

.THIS .lhc-title-all:before {
    position: absolute;
    content: '';
    top: 0;
    left: 5px;
    width: 73px;
    height: 9px;
    background-color: #50d2ff;
}
.THIS .my-study-ecb{
    position: absolute;
    height: 95px;
    background: #50D2FF;
    top:-26px;
    width: 80px;
    right: 0;
}
.THIS .my-study-ecb:before{
    position: absolute;
    height: 90px;
    background: #50D2FF;
    content: '';
    width: 184px;
    top: 95px;
    right: 0;
}
.THIS .ecb-button-center{
    display:inline-block;
} 
.THIS .redirectsection:before{
    margin-left:-20px;
}
.THIS .redirectsection .container {
    padding: 40px 15px;
    margin-top: 30px;
}
.THIS .slds-button_neutral[disabled],.THIS .slds-button--neutral[disabled]{
    background-color: #000054;
}
.THIS .termsdetails p b ul li{
    font-size: 20px;
    font-family: Museo;
}
.THIS .termsdetails p span{
    font-size: 16px !important;
    font-family: Museo !important;
}
.THIS .uiOutputRichText span{
     font-size: 18px;
    font-family: Museo !important ;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #00004c;
}
.THIS .uiOutputRichText ul {
    list-style-type: disc;
    padding: 0 50px;
}
.THIS .uiOutputRichText a{
    color: #000053;
}
@media (max-width: 991px){
    .THIS .button-submit,.THIS .button-cancel{
        margin-right:0;
    }
    .THIS .button-submit, .THIS .button-cancel {
        margin-bottom: 20px;
    }
    .THIS .ecb-button-center{
        text-align:center;
    }
    .THIS .lhc-title-all{
        font-size:28px; 
        margin: 25px 0;
    }   
    .THIS .tctitle{
        font-size:25px;
        margin: 20px 0;
    }
    .THIS .tctitle:before{
        content:none;
    }
    .THIS .ecb-button-center{
        text-align:center;
    }   
    .THIS .button-submit,.THIS .button-cancel{
        margin-right:0;
    }
    .THIS #termsconditions .container>div {
        width: 100%;
    }
    .THIS .button-submit, .THIS .button-cancel {
        margin-bottom: 20px;
    }
    .THIS .lhc-title-all:before{
        width: 40px;
        height: 3px;
    }
    .THIS  .layout_content.cLHC_TermsAndConditions {
    margin-top: 0 !important;
	}
    .THIS .uiOutputRichText ul {    
    padding: 0 20px;
	}
}