.THIS {
    max-width: 1208px;
    font: 14px Arial;
}

.THIS .pageTitle {
    font-family: Museo;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
    position: relative;
    padding-top: 10px;
    margin-bottom: 24px;
}

.THIS .pageTitle:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: #f5a623;
}

.THIS .resultsBox {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 15px;
}

.THIS .tabRow {
    background-color: #ebebeb;
    padding: 15px;
    margin: -15px -15px 15px -15px;
}

.THIS .tab {
    display: inline-block;
    margin-right: 60px;
    font: 400 16px Museo;
    color: #000054;
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
}

.THIS .tab.active {
    font-weight: bold;
}

.THIS .searchHeading {
    font: 500 20px Museo;
    color: #000054;
}

.THIS .keywords {
    margin-top: 18px;
    padding: 12px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.THIS .keyword {
    display: inline-block;
    padding-right: 15px;
}

.THIS .cResearcherPortalFaqPanelGen {
    border: none;
    border-radius: 0;
    padding: 0;
}

.THIS .result {
    padding: 18px 250px 18px 0;
    border-bottom: 1px solid #ebebeb;
}

.THIS .result h1 {
    font: 500 20px Museo;
}

.THIS .resultType {
    margin-top: 13px;
}

.THIS .pagination {
    padding: 18px 0 6px;
}

.THIS .pagination_control {
    display: inline-block;
    margin-right: 6px;
}