.THIS .ethics_title {
    padding: 20px 20px 20px 0px;
    position: relative;
}

.THIS .ethics_text {
    font-family: Museo;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
}

.THIS .ethics_title:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 50px;
    height: 6px;
    background-color: #f5a623; 
}

.THIS .ethics_container {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 25px;
}

.THIS .section_sep {
    text-align: right;
    margin-right: 55px;
}

.THIS .ethics_searchBox {
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    background-color: #ffffff;
    border: solid 1px #ccced0;
}

.THIS table.dataTable.no-footer {
    border: none;
    box-shadow: none;
    font-size: 14px;
    font-family: HelveticaNeue;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #4a4a4a;
}

.THIS table.dataTable thead th,
.THIS table.dataTable thead td,
.THIS .column {
    text-align: left;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #4a4a4a;
    border-bottom: 1px solid rgba(203, 203, 203, 0.43);
    padding-top: 15px;
    padding-bottom: 15px;
}

.THIS table.dataTable tbody td {
    border-bottom: 1px solid rgba(203, 203, 203, 0.43);
}

.THIS .dt-more-container {
    text-align: center;
    margin: 2em 0;
}

.THIS .dataTables_filter {
    display: none;
}

.THIS #mySearchText {
    width: 476px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    background-color: #ffffff;
    border: solid 1px #ccced0;
    padding-left: 10px;
    margin: 12.5px;
}

.THIS table.dataTable.display tbody tr.odd>.sorting_1,
.THIS table.dataTable.display tbody tr.odd,
.THIS table.dataTable.display tbody tr.even,
.THIS table.dataTable.display tbody tr.even>.sorting_1 {
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 8px;
}

.THIS .truncate {
    max-width: 95%;
    position: absolute;
    top: 30%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.THIS table.dataTable tbody td:nth-child(1) {
    width: 15%;
    position: relative;
}

.THIS table.dataTable tbody td:nth-child(3) {
    width: 12%;
}

.THIS table.dataTable tbody td:nth-child(2) {
    width: 13%;
}
.THIS table.dataTable tbody td:nth-child(4) {
    width: 14%;
     position: relative;
}

.THIS table.dataTable tbody td:nth-child(5) {
    width: 24%;
    position: relative;
}

.THIS table.dataTable tbody td:nth-child(6) {
    width: 13%;
}

.THIS table.dataTable thead .sorting {
    background: url(../resource/sort_both) no-repeat;   
    background-position: center left;
    filter: brightness(57%);
    border: 0px;
}

.THIS table.dataTable thead .sorting_desc {
    background: url(../resource/sort_desc) no-repeat;
    background-position: center left;
    border: 0px;
}

.THIS table.dataTable thead .sorting_asc {
    background: url(../resource/sort_asc) no-repeat;
    background-position: center left;
    border: 0px;
}

.THIS .column {
    float: left;
    width: 100%;
    padding-left: 10px;
}

.THIS .mobileEthics {
    display: none;
}

.THIS .pjtTitleColor {
	color: #4a90e2;
	text-decoration: none;
}

@media only screen and (max-width: 991px) {
    .THIS .mobileEthicsContainer {
        border-bottom: solid 3px #f5a623;
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
        margin-bottom: 20px;
    }
    .THIS .largeEthics {
        display: none;
    }
    .THIS .mobileEthics {
        margin-bottom: 25px;
        display: block;
        width: 90%;
    }
    .THIS .mobileTitle {
        padding: 10px 0px;
    }
    .THIS .mobileData {
        font-weight: normal;
        padding-right: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .THIS .search-box {
        position: relative;
        display: inline-block;
        width: 90%;
    }
    .THIS .search-box .search-icon {
        position: absolute;
        padding-top: 12px;
        font-size: 18px;
        color: #000000;
        right: -27px;
    }
    .THIS .search-box input {
        background: #ffffff;
        border: 0;
        height: 35px;
        margin: 8px 0px;
        padding: 2px 10px 2px 5px;
        color: #1a1a1a;
        font-family: Museo;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 25px;
        width: 95%;
        border: 1px solid red;
        margin-left: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
        background-color: #ffffff;
        border: solid 1px #ccced0;
    }
    .THIS .searchBoxcontainer {
        border-bottom: none;
    }
    .THIS .pjtTitleColor {
        color: #4a4a4a;
    }
}