.THIS .username{
    padding-left: 5px;
}
.THIS .welcome-text{
    font-family: Museo;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
    position: relative;
    padding-top: 10px;
}

.THIS .welcome-text :before{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: #d0021b;
}

.THIS .welcome-title{
   padding: 30px 15px 10px;
    
}
.THIS .btn-createPjt{
    border-radius: 6px;
    background-color: #000054;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0), 0 0.5px 2px 0 rgba(0, 0, 0, 0.2);
    font-family: Museo;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff; 
	width: 120px;
    margin-right: 2%;
    height: 35px;
    margin-top: 20px;
}

.THIS .btn-createPjt:hover, .THIS .btn-createPjt:focus{
     background-color: #d0021b; 
    border : 1px solid #d0021b;
}